<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="headImgUpload.json" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input class="easyui-textbox" name="username">
    <input type="submit" value="提交">
</form>

<img src="http://jiangteng.oss-cn-beijing.aliyuncs.com/fanwei/1550577946642.jpg?Expires=1865937938&OSSAccessKeyId=LTAIgFfnVIstnsKZ&Signature=7HwS4a/n%2BQcokVtZplj3womxbK0%3D">
</body>
</html>